.index-back {
    background-image: url("./assets/index.png");
    padding: 36.5vh 1.5rem 36.5vh 1.5rem;
}

#map {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    size: 100vh 100vw;
    z-index: -1;
}

.blur {
    animation: blur 5s;
}

@keyframes blur {
    100% {
        -webkit-filter: blur(0px);
    }

    0% {
        -webkit-filter: blur(50px);
    }
}

.img1 {
    /* Darken Background Image */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0%;
    margin: 1rem 1rem 1rem 1rem;
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: #1E1E1E;
    color: #fff;
    filter: hue-rotate(0deg) drop-shadow(0px 0px 0px #000) saturate(0);
    z-index: 0;
    transition: transform 0.2s ease-in-out, filter 0.5s ease-in-out;
}

.square:hover, :focus {
    transform: scale(1.1);
    filter: hue-rotate(360deg) drop-shadow(0px 0px 20px #000) saturate(1);
    z-index: 1;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.square.fullImg {
    padding: 0;
}

.square.fullImg img {
    object-fit: cover;
}

@media (min-width: 960px) {
    .grid {
        grid-template-columns: repeat(10, 1fr);
    }
}